<!-- HEADER -->
<header class="top-header">
    <div class="left-logo">
        <a href="index.html">
            <img src="../assets/gppb2.png" alt="Left Logo">
        </a>
    </div>

    <div class="contact-search">
        <div class="contact-info">
            <span>
                <img src="../assets/phoneicon.png" class="header-icon" alt="Contact Icon"> +123 456 7890
            </span>
            <span>
                <img src="../assets/mailicon.png" class="header-icon" alt="Mail Icon"> hr@gov.ph
            </span>
        </div>
        <input type="text" placeholder="Search..." class="search-bar">
    </div>

    <div class="right-logo">
        <img src="../assets/gppb3.png" alt="Right Logo">
    </div>
</header>

<nav class="bottom-nav">
    <a href="index.html" class="nav-link">Home</a>
    <a href="careers.html" class="nav-link">Careers</a>
    <a href="recruitment.html" class="nav-link">Recruitment</a>
    <a href="discussion.html" class="nav-link">Discussion Board</a>
    <a href="forms.html" class="nav-link">Forms & Documents</a>
    <a href="learning.html" class="nav-link">Learning Development</a>
    <a href="rewards.html" class="nav-link">Rewards & Recognition</a>
</nav>